<div class="graphic-inner component-inner" id="inner-{{_id}}" role="region" aria-label="{{_globals._components._graphic.ariaRegion}}">
    {{> component this}}

    <button class="notifymybut {{#if _buttonData.button.classadd}} notifyonbut {{/if}}" id="mybutton" style="display:none;">{{_buttonData.button.copypaste}}</button>

    <div class="graphic-widget component-widget{{#if _graphic.attribution}} graphic-widget-attribution{{/if}}">
      {{#if _graphic.large}}
      <img src="{{_graphic.src}}" style="margin-top: 20px;" data-large="{{_graphic.large}}" data-small="{{_graphic.small}}"{{#if _graphic.alt}} alt="{{_graphic.alt}}" tabindex="0"{{else}} class="a11y-ignore" aria-hidden="true" tabindex="-1"{{/if}}/>
      {{/if}}
    </div>
    {{#if _graphic.attribution}}
      <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
    {{/if}}
    {{#if bottomText}}
      <div class="textnotify-bottom-text" tabindex="0">
        {{{bottomText}}}
      </div>
    {{/if}}
    {{#if _buttonData}}
        <div class="notifydetails" style="display:none;">Text Notify Button Title: {{_buttonData.button.title}}
          <div class="notifydetails" style="display:none;">{{{_buttonData.button.message}}}</div>
        </div>
    {{/if}}
    {{#if _alertData}}
        <div class="notifydetails" style="display:none;">Text Notify Alert Title: {{_alertData.myalert.title}}
          <div class="notifydetails" style="display:none;">{{{_alertData.myalert.message}}}</div>
        </div>
    {{/if}}
    {{#if _popupData}}
        <div class="notifydetails" style="display:none;">Text Notify Popup Title: {{_popupData.mypopup.title}}
          <div class="notifydetails" style="display:none;">{{{_popupData.mypopup.message}}}</div>
        </div>
    {{/if}}
</div>
